// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Colors
.danger-color {
	color: $brand-danger;
}

.success-color {
	color: $brand-success;
}