/*
 * Base structure
 */

.m-t-0 {
  margin-top: 0 !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-l-20 {
  margin-left: 20px !important;
}
.m-x-0 {
  margin: 0 !important;
}

.lh-48 {
  line-height: 48px !important;
}

.lh-20 {
  line-height: 20px !important;
}

.lh-0 {
  line-height: 0 !important;
}

@media (min-width: 992px) {

  .mb-lg-6 {
      margin-bottom: 7rem !important;
  }
}

.hidden {
  display: none;
}

.is-fullwidth {
  width: 100%;
}

.btn-fullwidth {
  width: 100%;
}

.pointer {
  cursor: pointer !important;
}

.modal.modal-large .modal-dialog {
  width: 90%;
}

.modal.modal-long .modal-dialog {
  margin-top: 30px !important;
}

.alert.alert-info {
   background-color: #00bcd4 !important;
}

.alert {
  min-height: 70px;

  .close {
    top: 10px !important;
    right: 10px !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
    border-radius: 20px;
    padding: 5px;
    background: rgba(0, 0, 0, .2);

    i {
      font-size: 1.2rem !important;
    }
  }
}

.card-transparent {
  background: rgba(255, 255, 255, 0.8);
}

.card-body {
  .handle {
    margin-bottom: 20px;
  }

  .form-group {
    margin-top: 10px;

    .bootstrap-select {
      margin-top: 4px;
    }

    .is-tooltip {
      position: absolute;
      top: 10px;
      right: 0;
    }
  }

  .checkbox {
    margin-top: 24px;
  }
}

.card-footer {
  p {
    float: left;
    margin-bottom: 2px;
    margin-right: 5px;
  }
}

.card-profile {
  .card-avatar {
    height: 130px;
    width: 130px;
    background-color: #fff;

    .user-icon {
      font-size: 130px;
      color: $brand-primary;
    }
  }

  .card-body {
    margin-top: 0 !important;
  }
}

.card-raised {
  .icon-left {
    padding: 17px 0 0 10px;
  }
}

.z-fix {
  z-index: 2;
}

#quoteAuthor {
  color: #b3b3b3;
}

/* Dashbaord */

#dashboard.dashboard-no-data {
  opacity: .5;
}

.no-data-text {
  position: absolute;
  width: 100%;
  max-width: 550px;
  padding: 0 15px;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

/* Not doing anything with this -- yet */
.dashboard-no-data {}

.ct-chart-rotate-labels .ct-label.ct-horizontal {
  transform: rotate(20deg);
  /*position: relative;
  top: 15px;*/
}

/* Welcome */
.viewPhone {
  position: relative;
  width: 360px;
  max-width: 100%;
  object-fit: contain;
}
.viewPhone_shadow {
  position: absolute;
  bottom: 0;
  right: 257px;
  width: 360px;
  object-fit: contain;
  z-index: -1;
}

.panel {
  transition: .2s;
  padding: 0 5px 0 5px;

  &:hover {
    transition: .3s;
    border: 1px solid rgba(10, 10, 10, 0.33);
    box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.05);
  }
}

.app-logo-header {
  position: relative;
  animation-name: h1AnimateIn;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes h1AnimateIn {
  from {
    opacity: 0;
    bottom: 45px;
  }

  to {
    opacity: 1;
    bottom: 0;
  }
}

.app-logo-subtitle {
  animation-name: subtitleAnimateIn;
  animation-duration: 1s;
  animation-delay: .7s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes subtitleAnimateIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.slideInLeft {
  animation-name: SlideInLeft;
  animation-duration: .7s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
  position: relative;
  opacity: 0;
}
@keyframes SlideInLeft {
  from {
    left: 50px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

.slideInRight {
  animation-name: slideInRight;
  animation-duration: .7s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
  position: relative;
  opacity: 0;
}
@keyframes slideInRight {
  from {
    right: 50px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

.slideInBottom {
  animation-name: slideInBottom;
  animation-duration: .7s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
  position: relative;
  opacity: 0;
}
@keyframes slideInBottom {
  from {
    top: 50px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: .7s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

.panel-specials .panel {
      border: 1px solid rgba(10, 10, 10, 0);
}
.panel-specials .panel:hover {
      border: 1px solid rgba(10, 10, 10, 0.33);
}

@media (min-width: 600px) {
  .viewPhone {
    margin-left: 100px !important;
    margin-bottom: 20px !important;
    left: calc(50% + -180px);
  }
}

@media (max-width: 991px) {
  .is-sm-fullwidth {
    width: 100%;
  }
}

.home-bg-full {
  background: url(/images/home-bg-full.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-full {
  background: url(/images/bg-full.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-page-fixed {
  min-height: 100vh;
}

.deleteExercise-supserset {
  margin-bottom: -6px;
}

@media (min-width: 992px) {
  .card-hover {
    background: rgba(255, 255, 255, 0.95);
    transition: .2s;
  }
  .card-hover .icon i {
    border-color: #a5a5a5;
  }
  .card-hover:hover {
      background: rgba(255, 255, 255, 1);
      position: relative;
      margin: 20px auto;
      border-color: #E5E5E5;
      transition: .2s;
  }
}

.material-icons-lg {
  font-size: 3.4rem !important;
}

.nav.nav-mobile-menu li a {
  line-height: 3rem;
}

/* Scrollfix */
.ct-chart svg{
    position: relative;
}

/* Pie Chart Colors */

/* Line Chart Colors */
.ct-series-a .ct-point {
  stroke: #30b57f;
}

/* Pie Chart Colors */

.ct-series-a {
    .ct-slice-pie, .ct-area {
      fill: rgba(42, 178, 123, 0.5);
    }
    .ct-slice-donut {
      stroke: #2c9526;
    }
}

.ct-series-b {
    .ct-slice-pie, .ct-area {
      fill: #00562e;
    }
    .ct-slice-donut {
      stroke: #00562e;
    }
}

.ct-series-c {
    .ct-slice-pie, .ct-area {
      fill: #007ccf;
    }
    .ct-slice-donut {
      stroke: #007ccf;
    }
}

.ct-series-d {
    .ct-slice-pie, .ct-area {
      fill: #1e3a64;
    }
    .ct-slice-donut {
      stroke: #1e3a64;
    }
}

.ct-series-e {
    .ct-slice-pie, .ct-area {
      fill: #8737ca;
    }
    .ct-slice-donut {
      stroke: #8737ca;
    }
}

.ct-series-f {
    .ct-slice-pie, .ct-area {
      fill: #cb257f;
    }
    .ct-slice-donut {
      stroke: #cb257f;
    }
}

.ct-series-g {
    .ct-slice-pie, .ct-area {
      fill: #e83400;
    }
    .ct-slice-donut {
      stroke: #e83400;
    }
}

.ct-series-g {
    .ct-slice-pie, .ct-area {
      fill: #c12b00;
    }
    .ct-slice-donut {
      stroke: #c12b00;
    }
}

/* Legend colors */
.ct-legend-a {
  color: #2c9526;
}

.ct-legend-b {
  color: #00562e;
}

.ct-legend-c {
  color: #007ccf;
}

.ct-legend-d {
  color: #1e3a64;
}

.ct-legend-e {
  color: #8737ca;
}

.ct-legend-f {
  color: #cb257f;
}

.ct-legend-g {
  color: #e83400;
}

.ct-legend-h {
  color: #c12b00;
}

/* Bootstrap override */
.table-sm tbody tr td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-group.has-error button.dropdown-toggle {
  color: #b94a48 !important;
}

.sp-added-height {

  .dropdown-menu.open {
    max-height: calc(326px + 30px) !important;
    padding-bottom: 30px !important;
    overflow: initial !important;
    box-sizing: border-box !important;
  }
}

div.alert b.alert-header {
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.text-placeholder {
  background: linear-gradient(60deg, #26c6da, #00acc1);
  min-width: 30%;
  height: 15px;
  display: block;
  border-radius: 20px;
}

.pricing-page .title {
  margin-top: 100px;
}

/* Settings */
.settings-toggles {
  .form-group {
    margin-top: 0;
  }

  .material-icons {
    position: relative;
    height: 0;
    line-height: 0;
    top: 5px;
  }
}

/* Timer */
#timer {
  position: fixed;
  bottom: 0;
  background-color: #2ab27b;
  color: #fff;
  padding: 0px 20px;
  width: 100%;
  font-size: 2rem;
  line-height: 3rem;
  z-index: 10;

  span, i.fal {
    cursor: pointer;
    display: block;
    height: 50px;
    line-height: 50px;
  }
}

/* Compensates for the timer-height */
.hasTimer {
  margin-bottom: 50px;
}

div.form-group input.input-fill {
  background-color: #fff;
  background-position: center bottom, center calc(100%);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  padding-left: 5px;
  margin-bottom: 17px;
  height: 43px;
  margin-right: -21px;
}

.btn-list-group-item {
  margin: 0;
  height: 42px;
  padding: 2px 20px;
  margin-right: -15px;
  margin-top: -10px;
  margin-bottom: -10px;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#routinePreview ul.timeline {
  padding-bottom: 0;
  margin-bottom: 0;

  .timeline-panel {
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.14);
  }
}

.timeline-badge img {
  border-radius: 100%;
  width: 90%;
  height: 90%;
}

img.muscle-icon {
  width: 60px;
  height: 60px;
  background-color: #3097d1;
  border-radius: 100%;
}

/* Recap stuff */
.up-or-down {
  position: absolute;
  top: -15px;
  font-size: 20px;
}

/* Ribbon */
.ui.table td>.ui.ribbon.label {
    left: calc(-.78571429em - 1.2em);
}
.ui.ribbon.label {
    left: -1.2em;
    top: 0.6em;
    margin-right: -1.2em;
    padding-left: calc(1rem + 1.2em);
    padding-right: 1.2em;
    font-size: .7rem;
}
.ui.ribbon.label {
    position: absolute;
    margin: 0;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    border-radius: 0 .28571429rem .28571429rem 0;
    border-color: rgba(0,0,0,.15);
}
.ui.label {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0 .14285714em;
    background-color: #2ab27b;
    background-image: none;
    padding: .5833em .833em;
    color: #fff;
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
}

.ui.ribbon.label:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    background-color: transparent!important;
    border-style: solid;
    border-width: 0 1.2em 1.2em 0;
    border-color: transparent;
    border-right-color: #14734d;
    width: 0;
    height: 0;
}