/*
 * Base structure
 */

.m-t-0 {
  margin-top: 0 !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-l-20 {
  margin-left: 20px !important;
}

.lh-48 {
  line-height: 48px !important;
}

.btn-fullwidth {
  width: 100%;
}

.pointer {
  cursor: pointer !important;
}

.modal.modal-large .modal-dialog {
  width: 90%;
}

.alert.alert-info {
   background-color: #00bcd4 !important;
}

.card-transparent {
  background: rgba(255, 255, 255, 0.8);
}

.z-fix {
  z-index: 2;
}

#quoteAuthor {
  color: #b3b3b3;
}

/* Dashbaord */

.data-text h1 {

}

/* Welcome */
.viewPhone {
  position: relative;
  width: 360px;
  max-width: 100%;
  object-fit: contain;
}
.viewPhone_shadow {
  position: absolute;
  bottom: 0;
  right: 257px;
  width: 360px;
  object-fit: contain;
  z-index: -1;
}

.panel {
  transition: .2s;
  padding: 0 5px 0 5px;
  
  &:hover {
    transition: .3s;
    border: 1px solid rgba(10, 10, 10, 0.33);
    box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.05);
  }
}

.app-logo-header {
  position: relative;
  animation-name: h1AnimateIn;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes h1AnimateIn {
  from {
    opacity: 0;
    bottom: 45px;
  }

  to {
    opacity: 1;
    bottom: 0;
  }
}

.app-logo-subtitle {
  animation-name: subtitleAnimateIn;
  animation-duration: 1s;
  animation-delay: .7s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes subtitleAnimateIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.slideInLeft {
  animation-name: SlideInLeft;
  animation-duration: .7s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
  position: relative;
  opacity: 0;
}
@keyframes SlideInLeft {
  from {
    left: 50px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

.slideInRight {
  animation-name: slideInRight;
  animation-duration: .7s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
  position: relative;
  opacity: 0;
}
@keyframes slideInRight {
  from {
    right: 50px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

.slideInBottom {
  animation-name: slideInBottom;
  animation-duration: .7s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
  position: relative;
  opacity: 0;
}
@keyframes slideInBottom {
  from {
    top: 50px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: .7s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

.panel-specials .panel {
      border: 1px solid rgba(10, 10, 10, 0);
}
.panel-specials .panel:hover {
      border: 1px solid rgba(10, 10, 10, 0.33);
}

@media (min-width: 600px) {
  .viewPhone {
    margin-left: 100px !important;
    margin-bottom: 20px !important;
    left: calc(50% + -180px);
  }
}

.home-bg-full {
  background: url(../img/home-bg-full.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-full {
  background: url(../img/bg-full.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-page-fixed {
  min-height: 100vh;
}

.deleteExercise-supserset {
  margin-bottom: -6px;
}

@media (min-width: 992px) {
  .card-hover {
    background: rgba(255, 255, 255, 0.95);
    transition: .2s;
  }
  .card-hover .icon i {
    border-color: #a5a5a5;
  }
  .card-hover:hover {
      background: rgba(255, 255, 255, 1);
      position: relative;
      margin: 20px auto;
      border-color: #E5E5E5;
      transition: .2s;
  }
}

.material-icons-lg {
  font-size: 3.4rem !important;
}

.nav.nav-mobile-menu li a {
  line-height: 3rem;
}

/* Scrollfix */
.ct-chart svg{
    position: relative;
}

/* Pie Chart Colors */

.ct-series-a {
    .ct-slice-pie, .ct-area {
      fill: #2c9526;
    }
    .ct-slice-donut {
      stroke: #2c9526;  
    } 
}

.ct-series-b {
    .ct-slice-pie, .ct-area {
      fill: #00562e;
    }
    .ct-slice-donut {
      stroke: #00562e;  
    } 
}

.ct-series-c {
    .ct-slice-pie, .ct-area {
      fill: #007ccf;
    }
    .ct-slice-donut {
      stroke: #007ccf;  
    } 
}

.ct-series-d {
    .ct-slice-pie, .ct-area {
      fill: #1e3a64;
    }
    .ct-slice-donut {
      stroke: #1e3a64;  
    } 
}

.ct-series-e {
    .ct-slice-pie, .ct-area {
      fill: #8737ca;
    }
    .ct-slice-donut {
      stroke: #8737ca;  
    } 
}

.ct-series-f {
    .ct-slice-pie, .ct-area {
      fill: #cb257f;
    }
    .ct-slice-donut {
      stroke: #cb257f;  
    } 
}

.ct-series-g {
    .ct-slice-pie, .ct-area {
      fill: #e83400;
    }
    .ct-slice-donut {
      stroke: #e83400;  
    } 
}

/* Legend colors */
.ct-legend-a {
  color: #2c9526;
}

.ct-legend-b {
  color: #00562e;
}

.ct-legend-c {
  color: #007ccf;
}

.ct-legend-d {
  color: #1e3a64;
}

.ct-legend-e {
  color: #8737ca;
}

.ct-legend-f {
  color: #cb257f;
}

.ct-legend-g {
  color: #e83400;
}

/* Bootstrap override */
.table-sm tbody tr td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-group.has-error button.dropdown-toggle {
  color: #b94a48 !important;
}

.sp-added-height {

  .dropdown-menu.open {
    max-height: calc(326px + 30px) !important;
    padding-bottom: 30px !important;
    overflow: initial !important;
    box-sizing: border-box !important;
  }
}

/* Settings */
.settings-toggles {
  .form-group {
    margin-top: 0;
  }

  .material-icons {
    position: relative;
    height: 0;
    line-height: 0;
    top: 5px;
  }
}

/* Timer */
#timer {
  position: fixed;
  bottom: 0;
  background-color: #2ab27b;
  color: #fff;
  padding: 0px 20px;
  width: 100%;
  font-size: 3rem;
  line-height: 5rem;
  z-index: 10;

  span, i.fa {
    cursor: pointer;
  } 
}

/* Compensates for the timer-height */
.hasTimer {
  margin-bottom: 50px;
}