.exercise-card .card-content {
	padding-top: 0;

	.form-group {
		.bootstrap-select {
			margin-top: 0;
		}

		label {
			color: #404040;
			margin-bottom: 0;
		}

		input {
			padding-top: 0;
		}

		margin-top: 0;
	}
}

.card.card-signup {
	margin-top: 100px;
}

.card-login, .card-signup {
	.invalid-feedback {
		display: block;
	    margin-left: 55px;
    }
}

.alert.alert-warning {
    background-color: #ff9e0f;
}

.btn-group-lg .btn, .btn-group-lg .navbar .navbar-nav>li>a.btn, .btn-group-lg>.btn, .btn.btn-lg, .navbar .navbar-nav>li.btn-group-lg>a.btn, .navbar .navbar-nav>li>a.btn.btn-lg {
    font-size: 14px;
    padding: 18px 36px;
}

.is-focused .bmd-label-floating, .is-filled .bmd-label-floating {
    top: -0.5rem; /* Lowered from 1, which was way to much */
}

.material-datatables .dataTables_wrapper {
	padding-left: 0;
	padding-right: 0;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
	font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
}

.bootstrap-select .dropdown-menu.open.show {
	z-index: 9999999;
}

.bootstrap-select.btn-group {
	margin-top: 5px;
	button {	
	    padding: 12px 30px;
	    line-height: 14px;
	}

	.dropdown-toggle .filter-option {
		position: relative;	
	    top: 3px;
    }
}

/* This only works with a pre-defined timeline height. As for the current content this will work fine. */
.timeline:before {
    height: calc(100% - 100px);
}